<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <c-container>
      <c-row class="justify-content-center">
        <c-col md="6">
          <c-card-group>
  
            <c-card class="p-4 pb-2" >
              <c-card-body>
                <form cForm  >
                              
                  <h2 class="text-danger text-center">Veuillez contacter NEST merci </h2>
                 
                </form>
              </c-card-body>   
              <c-card-footer class="bg-white">
                <a routerLink='/login' color="primary"> Retour</a>   

              </c-card-footer>           
            </c-card>
            
          </c-card-group>
        </c-col>
      </c-row>
      <c-row >
        <c-col xs="6">
           
          </c-col>
       
      </c-row>
    </c-container>
    
  </div>
  