<c-row ngPreserveWhitespaces> 
  
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Détail de la facturation </strong>
      </c-card-header>
      <c-card-body>   
        
        
        <app-docs-example href="components/card/#border">
          <c-row>           
            <c-col lg="6">              
              <c-card [cBorder]="'primary'" [textColor]="'primary'" class="mb-3">
                <c-card-header>Description </c-card-header>
                <c-card-body>                 
                  <c-row  class="mb-3" >  
                    <c-col xs="12">
                       <p style="color:black;">Courant : 3000000</p>
                    </c-col>    
                  </c-row>     
                  <c-row  class="mb-4"> 
                    <c-col xs="8">
                      <p style="color:black;">Dernière facturation : 200000</p>
                    </c-col>    
                    <c-col xs="4">
                      <p style="color:black;">Date : 18/09/2023</p>

                    </c-col>
                  </c-row>   
                </c-card-body>
              </c-card>
            </c-col>
            <c-col lg="6">
              
              <c-card [cBorder]="'secondary'" [textColor]="'secondary'" class="mb-3">
                <c-card-header>Détail Caisse</c-card-header>
                <c-card-body>                 
                  
                    <c-row  class="mb-3" >  
                      <c-col xs="12">
                         <p style="color:black;">Courant : 3000000</p>
                      </c-col>    
                    </c-row>     
                    <c-row  class="mb-4"> 
                      <c-col xs="8">
                        <p style="color:black;">Dernière facturation : 200000</p>
                      </c-col>    
                      <c-col xs="4">
                        <p style="color:black;">Date : 18/09/2023</p>

                      </c-col>
                    </c-row>               
          
                   
                           
                 
                </c-card-body>
              </c-card>
            </c-col>
            
          </c-row>
        </app-docs-example>      
       
      </c-card-body>
    </c-card>
  </c-col>
 
</c-row>