<c-row>   
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header ngPreserveWhitespaces>
          <strong>Rechercher recharge(s)</strong> 
        </c-card-header>
        <c-card-body>            
         
         

         <h5 class="text-center text-danger">{{searchText}}</h5>

         <app-docs-example href="forms/layout#gutters">
          <form cForm class="row g-3"  [formGroup]="searchForm" (ngSubmit)="onRechercheSubmit()">
            <c-col md="3">
              <label cLabel for="identifiantCredit">Réference</label>
              <input cFormControl id="identifiantCredit" [(ngModel)]="pSearch.identifiantCredit"  formControlName="identifiantCredit" type="text" />
            </c-col>
            <c-col md="3">
              <label cLabel for="montant">Montant</label>
              <input cFormControl id="montant"  formControlName="montant" [(ngModel)]="pSearch.montant" type="text"/>
            </c-col>
            
            <c-col xs="3">
              <label cLabel for="dateOperation">Date début recharge</label>
              <input cFormControl id="dateOperation" type="date" [(ngModel)]="pSearch.dateOperation" formControlName="dateOperation" />
            </c-col>
            <c-col xs="3">
              <label cLabel for="dateOperationFin">Date fin recharge</label>
              <input cFormControl id="dateOperationFin" type="date" [(ngModel)]="pSearch.dateOperationFin" formControlName="dateOperationFin" />
            </c-col>
            
            <c-col xs="6" >
              <button cButton type="submit" style="margin: 3%;">Rechercher</button>
              <button cButton  (click)="initSearch()"  >Effacer</button>
            </c-col>
          </form>
        </app-docs-example>

        </c-card-body>
      </c-card>
    </c-col>
  </c-row>
  
  <div class="row">
    <c-col xs="12">
        <c-card class="mb-4">
          <c-card-header>
            <strong>Liste des recharges</strong> 
          </c-card-header>
          <c-card-body>           
  
            <app-docs-example href="components/table#bordered-tables">
              <div class="table-responsive">
              <table [bordered]="true" [cBorder]="1" borderColor="primary" cTable >
                <thead>
                  <tr>
                    <th scope="col" >Réference</th>
                    <th scope="col" >Patient</th>
                    <th scope="col">Montant</th>
                    <th scope="col">Date d'opération</th>                 
                    <th scope="col">Etat</th>
                  </thead>
                  <tbody *ngIf=" filteredCredits.length == 0" >
                    <td class="text-center" colspan="8"> Aucun compte n'existe</td>
                  </tbody>
                  <tbody *ngIf=" filteredCredits.length != 0" >
                     
                        <tr *ngFor="let patient of filteredCredits">
                          <td scope="row" *ngIf="patient.identifiantCredit != null && patient.identifiantCredit.length != 0"> {{patient.identifiantCredit}}</td>                       
                          <td scope="row" *ngIf="patient.identifiantCredit == null || patient.identifiantCredit.length == 0"> -</td>  
                          <td scope="row" *ngIf="patient.patient != null && patient.patient.length != 0"> {{patient.patient}}</td>                       
                          <td scope="row" *ngIf="patient.patient == null || patient.patient.length == 0"> -</td>  
                          <td scope="row" *ngIf="patient.montant != null && patient.montant!= 0"> {{patient.montant}}</td>                       
                          <td scope="row" *ngIf="patient.montant == null || patient.montant == 0"> -</td>    
                          <td> {{patient.dateOperation | date :'dd/MM/yyyy HH:mm:ss' }}</td>  
                          <td scope="row" *ngIf="patient.status != null && patient.status.length != 0 && patient.status != 'SUCCESS'"> Echoué</td>   
                          <td scope="row" *ngIf="patient.status != null && patient.status.length != 0 && patient.status == 'SUCCESS'"> Reussi</td>                       
                         <td scope="row" *ngIf="patient.status == null || patient.status.length  == 0"> -</td>  
                          
                          
                        </tr>
                 
                  </tbody>
              </table>
            </div>
              <div class="d-flex justify-content-center">
                <app-pagination-customer [totalList]="count" (page)="onTableDataChange($event)"></app-pagination-customer>

              </div>
  
            </app-docs-example>
          </c-card-body>
        </c-card>
      </c-col>  
  </div>
  
  
  
  
  
  
  <!--POPUP -->
  
  <div class="modal fade bd-confirmation-search" tabindex="-1" role="dialog" id="formSearchNotCriteria"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title">Recherche</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
  
           <div class="alert alert-danger">
              Merci de saisir au moins un critère.
           </div>
        </div>
        <div class="modal-footer">
           <button class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        </div>
     </div>
  </div>
  </div>