<c-row ngPreserveWhitespaces>   
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-header>
        <strong>Mon compte </strong>
      </c-card-header>
      <c-card-body>  
        
        
        <app-docs-example href="components/card/#border">
          <c-row>          
           
            <c-col lg="6">
              
              <c-card [cBorder]="'secondary'" [textColor]="'secondary'" class="mb-3">
                <c-card-header>Etat de mon compte</c-card-header>
                <c-card-body>                 
                  
                    <c-row  class="mb-3" >  
                      <c-col xs="12">
                         <h4 *ngIf="dataHome.montant_courant == 0" style="color:red;">Solde : {{dataHome.montant_courant}} FCFA</h4>
                         <h4 *ngIf="dataHome.montant_courant != 0" style="color:green;">Solde : {{dataHome.montant_courant}} FCFA</h4>
                      </c-col>    
                    </c-row>     
                    <c-row  class="mb-4"> 
                      <c-col xs="8">
                        <p style="color:black;">Dernière facturation : {{dataHome.montant_derniere_facturation}} FCFA</p>
                      </c-col>   
                       
                      <c-col xs="4">
                        <p *ngIf="dataHome.date_derniere_facturation == 0" style="color:black;">Date : -</p>
                        <p *ngIf="dataHome.date_derniere_facturation != 0" style="color:black;">Date : {{dataHome.date_derniere_facturation | date :'dd/MM/yyyy' }}</p>
                      </c-col>
                    </c-row>               
          
                   
                           
                 
                </c-card-body>
              </c-card>
            </c-col>
            <c-col lg="6">              
              <c-card [cBorder]="'primary'" [textColor]="'primary'" class="mb-3">
                <c-card-header>Recharger mon compte</c-card-header>
                <c-card-body>  
                  <h6 cModalTitle class="text-danger text-center">{{messageError}}</h6>               
                  <c-row>
                    <form cForm class="row g-3" novalidate method="POST" [formGroup]="createForm" (ngSubmit)="depositeSum()" >
                    <c-col xl="6" md="6" sm="6">
                     
                        <h6>Montant à recharger <span class="text-danger text-center">* </span></h6>
                        <c-input-group class="mb-3">                         
                          <input autoComplete="amount" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" cFormControl formControlName="amount" placeholder="Veuillez saisir la somme" />
                        </c-input-group>                        
                    </c-col>        
                    <c-col xl="6" md="6" sm="6">
                      <h6 class="text-white">#</h6>
                        <c-input-group class="mb-3 d-grid">                         
                          <button cButton type="submit"color="success"  >Recharger</button>
                        </c-input-group>                      
                     
                    </c-col>  
                  </form>

                  </c-row>                 
                 
                </c-card-body>
              </c-card>
            </c-col>
          </c-row>
        </app-docs-example>      
       
      </c-card-body>
    </c-card>
  </c-col>
 
</c-row>
<c-row>
  <c-card class="mb-4" >
    <c-card-header>
      <strong>Derniers recharges</strong> 
    </c-card-header>
    <c-card-body>           

      <app-docs-example href="components/table#bordered-tables">
        <div class="table-responsive">
        <table [bordered]="true" [cBorder]="1" borderColor="primary" cTable >
          <thead>
            <tr>
              <th scope="col" >Réference</th>
              <th scope="col">Montant</th>
              <th scope="col">Date d'opération</th>                 
              <th scope="col">Etat</th>
            </thead>
            <tbody *ngIf=" filteredCredits.length == 0" >
              <td class="text-center" colspan="8"> Aucun compte n'existe</td>
            </tbody>
            <tbody *ngIf=" filteredCredits.length != 0" >
                
              <tr *ngFor="let patient of filteredCredits">
                <td scope="row" *ngIf="patient.identifiantCredit != null && patient.identifiantCredit.length != 0"> {{patient.identifiantCredit}}</td>                       
                <td scope="row" *ngIf="patient.identifiantCredit == null || patient.identifiantCredit.length == 0"> -</td>  
                
                <td scope="row" *ngIf="patient.montant != null && patient.montant!= 0"> {{patient.montant}}</td>                       
                <td scope="row" *ngIf="patient.montant == null || patient.montant == 0"> -</td>    
                <td> {{patient.dateOperation | date :'dd/MM/yyyy HH:mm:ss' }}</td>                
                <td scope="row" *ngIf="patient.status != null && patient.status.length != 0 && patient.status != 'SUCCESS'"> Echoué</td>   
                <td scope="row" *ngIf="patient.status != null && patient.status.length != 0 && patient.status == 'SUCCESS'"> Reussi</td>                       
            
                <td scope="row" *ngIf="patient.status == null || patient.status.length  == 0"> -</td>  
                
                
              </tr>
           
            </tbody>
        </table>
      </div>
       
      </app-docs-example>
    </c-card-body>
  </c-card>

  
</c-row>


